<!DOCTYPE html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="es"> <![endif]-->
<!--[if IE 7]><html class="no-js lt-ie9 lt-ie8" lang="es"> <![endif]-->
<!--[if IE 8]><html class="no-js lt-ie9" lang="es"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="es">
<!--<![endif]-->
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<title>Vacaciones soñadas - PagoEfectivo</title>
	<!--[if lt IE 9]>
	  <script type="text/javascript" src="../js/html5.js"></script>
	<![endif]-->
	<meta description="Sorteo para tus vacaciones soñadas comprando con PagoEfectivo, participa y gana.">
	<meta name='viewport' content='width=device-width, user-scalable=no'>
	<link rel="stylesheet" href="../css/normalize.css?v=001">
	<link href='../css/fonts.css?v=001', media='all', rel='stylesheet', type='text/css'>
	<link rel="stylesheet" href="../css/landing.css?v=001">
	<link rel="shortcut icon" href="../img/favicon.ico?v=001" />
	<!-- The flag should be inserted before loading the script -->
	<!-- Google Analytics -->
<script type="text/javascript">
var _gaq = _gaq || [];
_gaq.push(['_setAccount', 'UA-28965570-1']);
_gaq.push(['_setDomainName', '.pagoefectivo.pe']);
_gaq.push(['_trackPageview']);
_gaq.push(['_trackPageLoadTime']);
(function () {
var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
})();
</script>

</head>
<body>
	<div class="box_top">
		<div class="center slide">
			<div class="top">
				<h2>Premiamos tus compras</h2>
				<h1>VACACIONES SOÑADAS</h1>
				<h3>Compra con PagoEfectivo <b>hasta el 31 de Diciembre</b><br> y participaras automáticamente del sorteo*</h3>
				<span class="logo mobile"></span>
			</div>
			<div class="items">
				<div class="item">
					<div class="item_img">
						<img src="../img/premio1.png?v=001" alt="">
					</div>
					<div class="description one_desc">
						<h4>1er premio:</h4>
						<p>Colombia para 2, Hotel y pasajes, <br>all included, Decamerón San Andrés</p>
					</div>
				</div>
				<div class="item">
					<div class="item_img">
						<img src="../img/premio2.png?v=001" alt="">
					</div>
					<div class="description">
						<h4>2do premio:</h4>
						<p>Consola PlayStation 4 <br>500 GB</p>
					</div>
				</div>
				<div class="item">
					<div class="item_img">
						<img src="../img/premio3.png?v=001" alt="">
					</div>
					<div class="description">
						<h4>3er premio:</h4>
						<p>Vale de compra por <br>S/.500 en Linio y Ofertop (250 c/u)</p>
					</div>
				</div>
			</div>
		</div>
		<div class="bar">
			<div class="center">
				<span class="logo"></span>
				<div class="text">
					!A más compras, más opciones de ganar! <strong>Sorteo 8 de enero</strong>
				</div>
			</div>
		</div>
	</div>
	<div class="stores">
		<div class="center">
			<h3>Compra en las mejores tiendas online del Perú</h3>
			<div class="store"><span class="peruvian"></span></div>
			<div class="store"><span class="mundo"></span></div>
			<div class="store"><span class="linio"></span></div>
			<div class="store"><span class="saga"></span></div>
			<div class="store"><span class="sodimac"></span></div>
			<div class="store"><span class="movistar"></span></div>
			<div class="store"><span class="jockey"></span></div>
			<div class="store"><span class="platanitos"></span></div>
			<div class="store"><span class="inkabet"></span></div>
			<div class="store"><span class="pokerstars"></span></div>
			<div class="store"><span class="deltron"></span></div>
			<div class="store"><span class="intralot"></span></div>
			<div class="store"><span class="domireps"></span></div>
			<div class="store"><span class="ofertop"></span></div>
			<div class="store"><span class="avansys"></span></div>
			<div class="store"><span class="betcris"></span></div><br><br>
			<a href="https://pagoefectivo.pe/ComerciosAfiliados.aspx" target="_blank" class="btn_all_stores">CONOCE TODAS LAS TIENDAS</a>
		</div>
	</div>
	<footer>
		<div class="center">
			<div class="payment_center">
				<span class="label">Centros de Pago Autorizados:</span>
				<span class="pay interbank"></span>
				<span class="pay kasnet"></span>
				<span class="pay continental"></span>
				<span class="pay bcp"></span>
				<span class="pay scotiabank"></span>
				<span class="pay western"></span>
				<span class="pay globalnet"></span>
				<span class="pay fullcarga"></span>
			</div>
			<div class="restrictions">
				<div class="line"></div>
				<p>Para participar en la presente promoción los participantes deberán realizar una compra con PAGOEFECTIVO en cualquiera de sus comercios afiliados. Al hacerlo y cumplir todos los pasos de compra, ingresarán al sorteo de tres (03) premios. Todas las compras realizadas desde 15 de Diciembre (00:00hrs) de 2014 al 31 de Diciembre (23:59hrs) de 2014 participan e ingresan al sorteo de la fecha indicada. Los códigos CIP que tengan fecha de pago Enero 2015 no serán considerados. Participan todas las compras con PAGOEFECTIVO iguales o mayores a PEN s/. 80.00. Esta promoción es exclusiva para clientes que compren con PAGOEFECTIVO.Participan clientes nuevos, asi como todos los que hicieron compras por primera vez. Una vez que el cliente ha finalizado la compra, ingresará automáticamente al sorteo con una opción de ganar. Cada compra/transacción con PAGOEFECTIVO es una opción mas para ganar, a mas compras, mayor oportunidad de ganar.<br>
				El sorteo se realizará el día 08 de Enero de 2015 a las 12:00 horas. El premio no es transferible, ni endosable. No esta sujeto a devolución en crédito ni en efectivo.</p>
			</div>
		</div>
	</footer>
</body>
</html>