<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <meta name="language" content="es">
    <title>Pago Efectivo</title>
    
  </head>
  <body>
    <table border="0" cellpadding="0" cellspacing="0" width="100%" style="font-family:Arial,Tahoma;font-weight:normal;color:black;">
      <tr>
        <td>
          <div align="center">
            <table border="0" cellpadding="0" cellspacing="0" width="960" bordercolor="#1c1c1c" style="padding:20px 0;margin:0;text-align:left;" class="wrapper">
              <tr style="background:#f5be00;" height="73">
                <td style="padding:0px 0px 0px 15px;" width="100" height="73"><img src="../img/logo_pagoefectivo_header.png" height="41" width="101" alt=""></td>
                <td height="73" style="font-size:22px;font-weight:normal;text-align:center;padding:0px;">PASARELA DE PAGOS</td>
                <td width="100"></td>
              </tr>
              <tr height="17" style="padding:0px;"></tr>
              <tr height="222" style="padding:0px;">
                <td colspan="3" style="border:1px solid black;padding:0px;">
                  <table border="0" cellpadding="0" cellspacing="0" width="958" height="220">
                    <tr>
                      <td width="23" style="padding:0px;"></td>
                      <td width="200" height="184" style="padding:0px;"><img src="../img/logo_pagoefectivo.png"></td>
                      <td width="52"></td>
                      <td width="350">
                        <table>
                          <tr height="10"></tr>
                          <tr>
                            <td style="font-size:27px;font-weight:bold;">Código de pago (CIP): </td>
                          </tr>
                          <tr>
                            <td style="font-size:37px;font-weight:bold">4578124576</td>
                          </tr>
                        </table>
                      </td>
                      <td rowspan="2" width="331" align="center">
                        <table bgcolor="#d0d0d0" width="321" height="206" style="text-align:center;padding:0px;" align="center" border="0" cellspacing="0" cellpadding="0">
                          <tr>
                            <td height="17" style="padding:0px;"></td>
                          </tr>
                          <tr>
                            <td height="111" style="padding:0px;">
                              <div style="font-size:24.82px;height:28px;">Total a pagar:</div>
                              <div style="font-size:31.02px;font-weight:bold;margin:0;height:32px;">S/.129.00</div>
                              <div style="font-size:24.82px;">(Incluído IGV)</div>
                            </td>
                          </tr>
                          <tr>
                            <td align="center" height="1" style="padding:0px;">
                              <table width="200" style="border-top:1px solid black;"></table>
                            </td>
                          </tr>
                          <tr height="78">
                            <td style="font-size:15px;padding:0px;" valign="top" height="75">Puedes realizar el pago hasta el<br>viernes 22 de Agosto / 23:59 pm<br>de lo contrario este expirará</td>
                          </tr>
                        </table>
                      </td>
                    </tr>
                    <tr>
                      <td colspan="4" style="font-size:10px;" align="center">Este código de pago no constituye una reserva confirmada sino hasta la realización del pago a través de los canales mencionados.<br>Ofertop se reserva el derecho a finalizar un pedido antes del tiempo indicado; en este caso el código CIP quedaría sin efecto</td>
                    </tr>
                  </table>
                </td>
              </tr>
              <tr>
                <td colspan="3" style="border-left:1px solid black;border-bottom:1px solid black;border-right:1px solid black;padding:0px;" height="84" align="center">
                  <table width="945" height="72" bgcolor="#f5be00" cellpadding="0" cellspacing="0">
                    <tr align="center">
                      <td width="80" height="72" style="height:72px;"><img src="../img/info.png"></td>
                      <td style="font-size:17px;height:72px;" height="72">Indique que va realizar un Pago a la Empresa <strong>PAGOEFECTIVO</strong><br>(*) La cuenta de recaudación NO corresponde a <strong>OferTOP</strong>, corresponde a la empresa <strong>PAGOEFECTIVO</strong></td>
                      <td width="80" height="72"><img src="../img/info.png"></td>
                    </tr>
                  </table>
                </td>
              </tr>
              <tr height="16" style="padding:0px;"></tr>
              <tr>
                <td colspan="3" align="center" height="33" style="color:white;background:black;font-size:20px;padding:0px;">FORMAS DE PAGO</td>
              </tr>
              <tr>
                <td colspan="3" style="padding:15px 0;font-size:20px;" align="center">Imprima esta orden de pago y acérquese a cualquiera de estos centros autorizados para efectuar el pago:</td>
              </tr>
              <tr>
                <td colspan="3">
                  <table border="0" cellpadding="0" cellspacing="0">
                    <tr style="font-size:20px;">
                      <td valign="top" width="136">
                        <table>
                          <tr>
                            <td>PAGAR POR</td>
                          </tr>
                        </table>
                      </td>
                      <td width="206" valign="top"><img src="../img/internet.jpg" alt="" style="margin-right:10px;"><span style="vertical-align:top;">INTERNET</span></td>
                      <td width="206" valign="top"><img src="../img/agentes.jpg" alt="" style="margin-right:10px;"><span style="vertical-align:top;">AGENTES</span></td>
                      <td width="206" valign="top"><img src="../img/agencias.jpg" alt="" style="margin-right:10px;"><span style="vertical-align:top;">AGENCIAS</span></td>
                      <td width="206" valign="top"><img src="../img/cajeros.jpg" alt="" style="margin-right:10px;"><span style="vertical-align:top;">CAJEROS</span></td>
                    </tr>
                    <tr>
                      <td colspan="5" style="border:1px solid black;height:46px;" height="46">
                        <table border="0" cellpadding="0" cellspacing="0">
                          <tr>
                            <td width="136" style="padding-left:10px;"><img src="../img/oficinas/interbank.jpg" alt="" valign="middle"></td>
                            <td colspan="3" width="618"></td>
                            <td width="207"><img src="../img/globalnet.jpg" alt="" valign="middle"></td>
                          </tr>
                        </table>
                      </td>
                    </tr>
                    <tr style="font-size:13px;" valign="top">
                      <td width="136"></td>
                      <td valign="top" width="206" style="padding:10px 0 30px 0;">
                        <div style="width:185px;">
                          <p style="margin-top:0px;padding:0px;"><strong>Banca por internet de interbank:</strong><br>1.-Ingresa a tu cuenta y selecciona la opcion de Pago de Recibos - Diversas Empresas.<br>2.-Selecciona la cuenta de Cargo y en Empresa seleccionar PAGOEFECTIVO.<br>3.-Ingresa el siguiente Código de Pago:[CIP], confirme su transacción y listo!.</p>
                        </div>
                      </td>
                      <td valign="top" width="206" style="padding:10px 0 30px 0;">
                        <div style="width:185px;">
                          <p style="margin-top:0px;padding:0px;"><strong>En un Agente Interbank:</strong><br>1.-Indique que va realizar un pago a la empresa PagoEfectivo y brinda el siguiente código 2735001<br>2.-Indique el Código de Pago: [CIP], el importe a pagar y la moneda.<br>3.-Verificar que el boucher indique PAGOEFECTIVO.</p>
                        </div>
                      </td>
                      <td valign="top" width="206" style="padding:10px 0 30px 0;">
                        <div style="width:185px;">
                          <p style="margin-top:0px;padding:0px;"><strong>En Tiendas y Money Market de Interbank:</strong><br>1.-Indique que va realizar un pago de recaudo a PagoEfectivo.<br>2.-Indique el Código de Pago: [CIP], el importe a pagar y la moneda.<br>3.-Verificar que el boucher indique PAGOEFECTIVO.</p>
                        </div>
                      </td>
                      <td style="padding:10px 0 30px 0;" valign="top" width="206">
                        <div style="width:185px;">
                          <p style="margin-top:0px;padding:0px;"><strong>En Cajeros con Tarjeta - Global Net:</strong><br>1.-Seleccionar Pagos/Pagos de recibo/Pagos Varios/Varios<br>2.-Digite el código: 35001 y siga las instrucciones del Cajero Automático(*).</p>
                          <p><strong>En Cajeros sin Tarjeta - Global Net Plus:</strong><br>1.-Presiona cualquier botón de la pantalla del cajero.<br>2.-Selecciona Pagos de recibos/Otros/Otros.<br>3.-Digita el código: 35001 y siga las instrucciones del Cajero Automático(*).<br>(*)Verificar que el boucher indique Empresa: PAGOEFECTIVO.</p>
                        </div>
                      </td>
                    </tr>
                    <tr>
                      <td colspan="5" style="border:1px solid black;" height="46">
                        <table border="0" cellpadding="0" cellspacing="0">
                          <tr>
                            <td style="padding-left:10px;" width="136"><img src="../img/oficinas/kasnet.jpg" alt="" valign="middle"></td>
                            <td colspan="4" width="824"></td>
                          </tr>
                        </table>
                      </td>
                    </tr>
                    <tr style="font-size:13px;" valign="top">
                      <td width="136"></td>
                      <td width="206"></td>
                      <td style="padding:10px 0 30px 0;" valign="top" width="206">
                        <div style="width:185px;">
                          <p style="margin-top:0px;padding:0px;"><strong>En un Agente Kasnet:</strong><br>1.-Indique que va realizar un pago de recaudo a PagoEfectivo.<br>2.-Indique el Código de Pago, el importe a pagar y la moneda.<br>3.-Verificar que el boucher indique EMISORA: PAGOEFECTIVO MN.</p>
                        </div>
                      </td>
                      <td width="206"></td>
                      <td width="206"></td>
                    </tr>
                    <tr>
                      <td colspan="5" style="border:1px solid black;" height="46">
                        <table border="0" cellpadding="0" cellspacing="0">
                          <tr>
                            <td style="padding-left:10px;" width="136"><img src="../img/oficinas/banbif.jpg" alt="" valign="middle"></td>
                            <td colspan="4" width="824"></td>
                          </tr>
                        </table>
                      </td>
                    </tr>
                    <tr style="font-size:13px;" valign="top">
                      <td width="136"></td>
                      <td style="padding:10px 0 30px 0;" valign="top" width="206">
                        <div style="width:185px;">
                          <p style="margin-top:0px;padding:0px;"><strong>Banca por Internet del BANBIF:</strong><br>1.-Ingresa a tu cuenta.<br>2.-Seleccione la opción Pago de servicios\ Un nuevo Pago.<br>3.-Realice la búsqueda por Empresa escribiendo PAGOEFECTIVO y seleccione la empresa Pago.<br>4.-Ingresa el siguiente Código de Pago: [CIP], confirme su transacción y Listo.</p>
                        </div>
                      </td>
                      <td width="206"></td>
                      <td style="padding:10px 0 30px 0;" valign="top" width="206">
                        <div style="width:185px;">
                          <p style="margin-top:0px;padding:0px;"><strong>En una agencia BanBif:</strong><br>1.Indique que va a realizar un pago de Recaudo a PAGOEFECTIVO.<br>2.Indique el Código de Pago: [CIP], el importe a pagar y la moneda.<br>3.Verificar que el Boucher: PAGOEFECTIVO.</p>
                        </div>
                      </td>
                      <td width="206"></td>
                    </tr>
                    <tr>
                      <td colspan="5" style="border:1px solid black;height:46px;" height="46">
                        <table border="0" cellpadding="0" cellspacing="0">
                          <tr>
                            <td style="padding-left:10px;" width="136"><img src="../img/oficinas/continental.jpg" alt="" valign="middle"></td>
                            <td colspan="4" width="824"></td>
                          </tr>
                        </table>
                      </td>
                    </tr>
                    <tr style="font-size:13px;" valign="top">
                      <td width="136"></td>
                      <td style="padding:10px 0 30px 0;" valign="top" width="206">
                        <div style="width:185px;">
                          <p style="margin-top:0px;padding:0px;"><strong>Banca por Internet (<a href="www.bbvacontinental.pe" style="text-decoration:none;color:black;">www.bbvacontinental.pe</a>):</strong><br>1.-Ingresa a tu cuenta, seleccione Pago de Servicios, De Instituciones y Emp.<br>2.-Realize la búsqueda de los servicios escribiendo PagoEfectivo. Luego seleccione PAGOEFECTIVO(*).<br>3.-Ingresa el siguiente Código de Pago: [CIP], confirme su transacción y Listo.</p>
                        </div>
                      </td>
                      <td valign="top" width="206" style="padding:10px 0 30px 0;">
                        <div style="width:185px;">
                          <p style="margin-top:0px;padding:0px;"><strong>En un Agente Express:</strong><br>1.-Indique que va realizar un pago de recaudo a PAGOEFECTIVO(*).<br>2.-Indique el Código de Pago: [CIP], el importe a pagar y la moneda.<br>3.-Verificar que el boucher indique EMISORA: PAGOEFECTIVO(*).</p>
                        </div>
                      </td>
                      <td valign="top" width="206" style="padding:10px 0 30px 0;">
                        <div style="width:185px;">
                          <p style="margin-top:0px;padding:0px;"><strong>En una Agencia del BBVA:</strong><br>1.-Indique que va realizar un pago de recaudo a PAGOEFECTIVO(*).<br>2.-Indique el Código de Pago: [CIP], el importe a pagar y la moneda.<br>3.-Verificar que el boucher indique EMISORA: PAGOEFECTIVO(*).</p>
                        </div>
                      </td>
                      <td width="206"></td>
                    </tr>
                    <tr>
                      <td colspan="5" style="border:1px solid black;height:46px;" height="46">
                        <table border="0" cellpadding="0" cellspacing="0">
                          <tr>
                            <td style="padding-left:10px;" width="136"><img src="../img/oficinas/bcp.jpg" alt="" valign="middle"></td>
                            <td colspan="4" width="824"></td>
                          </tr>
                        </table>
                      </td>
                    </tr>
                    <tr style="font-size:13px;" valign="top">
                      <td width="136"></td>
                      <td style="padding:10px 0 30px 0;" valign="top" width="206">
                        <div style="width:185px;">
                          <p style="margin-top:0px;padding:0px;"><strong>Banca por Internet (<a href="www.viabcp.com" style="text-decoration:none;color:black;">www.viabcp.com</a>):</strong><br>1.-Ingresa a tu cuenta y selecciona Pago de servicios, Empresas Diversas.<br>2.-Seleccione la empresa PagoEfectivo y el servicio PagoEfectivo - Soles.<br>3.-Ingresa el siguiente Código de Pago: [CIP], confirme su transacción y Listo.</p>
                        </div>
                      </td>
                      <td valign="top" width="206" style="padding:10px 0 30px 0;">
                        <div style="width:185px;">
                          <p style="margin-top:0px;padding:0px;"><strong>En un Agente BCP:</strong><br>1.-Indique que va realizar un pago a la empresa PagoEfectivo y brinda el siguiente código 02186.<br>2.-Indique el Código de Pago: [CIP], el importe a pagar y la moneda.<br>3.-Verificar que el boucher indique EMPRESA: PAGOEFECTIVO.</p>
                        </div>
                      </td>
                      <td valign="top" width="206" style="padding:10px 0 30px 0;">
                        <div style="width:185px;">
                          <P style="margin-top:0px;padding:0px;"><strong>En una Agencia BCP:</strong>1.-Indique que va realizar un pago a la empresa PagoEfectivo.<br>2.-Indique el Código de Pago: [CIP], el importe a pagar y la moneda.<br>3.-Verificar que el boucher indique Empresa Afiliada: PAGOEFECTIVO.</P>
                        </div>
                      </td>
                      <td width="206"></td>
                    </tr>
                    <tr>
                      <td colspan="5" style="border:1px solid black;height:46px;" height="46">
                        <table border="0" cellpadding="0" cellspacing="0">
                          <tr>
                            <td style="padding-left:10px;" width="136"><img src="../img/oficinas/scotiabank.jpg" alt="" valign="middle"></td>
                            <td colspan="4" width="824"></td>
                          </tr>
                        </table>
                      </td>
                    </tr>
                    <tr style="font-size:13px;" valign="top">
                      <td width="136"></td>
                      <td style="padding:10px 0 30px 0;" valign="top" width="206">
                        <div style="width:185px;">
                          <p style="margin-top:0px;padding:0px;"><strong>Banca por Internet (<a href="www.scotiabank.com.pe" style="text-decoration:none;color:black;">www.scotiabank.com.pe</a>):</strong><br>1.-Ingresa a tu cuenta y seleccione Pagos - Otras Instituciones, Otros.<br>2.-Seleccionar la Institución según servicio: PAGOEFECTIVO (SOLES).<br>3.-Ingresa el siguiente Código de Pago: [CIP], confirme su transacción y Listo.</p>
                        </div>
                      </td>
                      <td valign="top" width="206" style="padding:10px 0 30px 0;">
                        <div style="width:185px;">
                          <P style="margin-top:0px;padding:0px;"><strong>En un Cajero Express:</strong><br>1.-Indique que va realizar un pago a la empresa PagoEfectivo.<br>2.-Indique el Código de Pago: [CIP], el importe a pagar y la moneda.<br>3.-Verificar que el boucher indique PAGOEFECTIVO.</P>
                        </div>
                      </td>
                      <td valign="top" width="206" style="padding:10px 0 30px 0;">
                        <div style="width:185px;">
                          <p style="margin-top:0px;padding:0px;"><strong>En una Agencia de Scotiabank:</strong><br>1.-Indique que desea realizar un pago a la empresa PagoEfectivo.<br>2.-Indique el Código de Pago: [CIP], el importe a pagar y la moneda.<br>3.-Verificar que el boucher indique PAGOEFECTIVO.</p>
                        </div>
                      </td>
                      <td width="206"></td>
                    </tr>
                    <tr>
                      <td colspan="5" style="border:1px solid black;height:46px;" height="46">
                        <table border="0" cellpadding="0" cellspacing="0">
                          <tr>
                            <td style="padding-left:10px;" width="136"><img src="../img/oficinas/western_union.jpg" alt="" valign="middle"></td>
                            <td colspan="4" width="824"></td>
                          </tr>
                        </table>
                      </td>
                    </tr>
                    <tr style="font-size:13px;" valign="top">
                      <td width="136"></td>
                      <td width="206"></td>
                      <td style="padding:10px 0 30px 0;" valign="top" width="206">
                        <div style="width:185px;">
                          <p style="margin-top:0px;padding:0px;"><strong>En una Agencia de Pago de Servicios Western Union:</strong><br>1.-Indique que va realizar un pago de servicio a la empresa PagoEfectivo.<br>2.-Indique el Código de Pago: [CIP], el importe a pagar y la moneda.<br>3.-Verificar que el boucher indique Entidad: PagoEfectivo.</p>
                        </div>
                      </td>
                      <td width="206"></td>
                      <td width="206"></td>
                    </tr>
                    <tr>
                      <td colspan="5" style="border:1px solid black;height:46px;" height="46">
                        <table border="0" cellpadding="0" cellspacing="0">
                          <tr>
                            <td style="padding-left:10px;" width="136"><img src="../img/oficinas/full_carga.jpg" alt="" valign="middle"></td>
                            <td colspan="4" width="824"></td>
                          </tr>
                        </table>
                      </td>
                    </tr>
                    <tr style="font-size:13px;" valign="top">
                      <td width="136"></td>
                      <td width="206"></td>
                      <td style="padding:10px 0 30px 0;" valign="top" width="206">
                        <div style="width:185px;">
                          <p style="margin-top:0px;padding:0px;"><strong>Acércate a cualquier Bodegas, Farmacias, Cabinas, Locutorios que tenga el logo de PagoEfectivo y/o FullCarga.</strong><br>1.-Indique que va realizar un pago de Servicio a la empresa PagoEfectivo.<br>2.-Elige el servicio PagoEfectivo-Soles<br>3.-Indique el código de Pago: [CIP].</p>
                        </div>
                      </td>
                      <td width="206"></td>
                      <td width="206"></td>
                    </tr>
                    <tr>
                      <td colspan="5" align="center" style="border-top:1px solid black;padding:20px 0px 0px 0px;">
                        <table border="0" align="center">
                          <tr>
                            <td style="font-size:20px;" align="center">GRACIAS POR SU PREFERENCIA </td>
                          </tr>
                        </table>
                      </td>
                    </tr>
                  </table>
                </td>
              </tr>
            </table>
          </div>
        </td>
      </tr>
    </table>
  </body>
</html>